@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    color: white;
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    width: 150px;
    border-radius: 10px 3px 10px 3px;
    margin-bottom: 10px;
}

#logo i {
    color: yellow;
    margin-right: 3px;
}

#logo p {
    font-family: 'Bebas Neue', cursive;
}

.saudation {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: 500;
}

.saudation p span {
    font-size: 1.5rem;
    font-weight: 580;
}

#mainScreen {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 25px;
}

#screenContainer {
    height: 500px;
    width: 500px;
    /*background-color: rgba(28, 155, 28, 0.349);*/
    background-color: rgba(169, 169, 169, 0.829);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
    padding: 0px 5px 0px 5px;
}

.iconMain {
    font-size: 45pt;
    margin-bottom: 0;
}

#screen {
    background-color: rgba(28, 155, 28, 0.418);
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#retornoInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-top: 3px solid rgba(0, 128, 0, 0.384);
    border-bottom: 3px solid rgba(0, 128, 0, 0.384);
    margin: 0px 10px 0px 10px;
}

.menuContainer {
    display: flex;
    height: 25%;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.menuSelecao {
    display: flex;
    padding: 0 5px 0 5px;
}

.itemMenu {
    margin: 5px;
}

.itemMenu button {
    width: 100%;
    text-align: center;
    height: 50px;
    min-width: 90px;
    background-color: darkslateblue;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);

}

.itemMenu button:hover {
    background-color: rgba(71, 61, 139, 0.699);
    color: whitesmoke;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}